<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Article</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
<div class="article-page">
    <h1><%= article.title %></h1>
    <p><%= article.author %></p>
    <a href=<%= article.url %>>Click</a>
    <div>
        <a href="/articles/">Back to list</a>
    </div>
</div>
</body>
</html>