<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Articles</title>
    <link rel="stylesheet" href="../public/styles.css" />
</head>
<body>
<h1>Article</h1>
<div class="article-page">
    <h1><%= article.title %></h1>
    <p><%= article.content %></p>
    <a href="/">Back to list</a>
</div>
</body>
</html>